server:
  port: 8080 

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8181/realms/tpbackend

  cloud:
    gateway:
      routes:
        - id: clientes_route
          uri: lb://clientes
          predicates:
            - Path=/api/clientes/**
          filters:
            - RewritePath=/api/clientes(?<segment>.*), $${segment}


        - id: solicitudes_route 
          uri: lb://solicitudes
          predicates:
            - Path=/api/solicitudes/**
          filters:
            - RewritePath=/api/solicitudes(?<segment>.*), $${segment}

        - id: depositos_route
          uri: lb://depositos
          predicates:
            - Path=/api/depositos/**
          filters:
            - RewritePath=/api/depositos(?<segment>.*), $${segment}

        
        - id: camiones_route
          uri: lb://camiones
          predicates:
            - Path=/api/camiones/**
          filters:
            - RewritePath=/api/camiones(?<segment>.*), $${segment}
